:root{
    --font-color: #0a1551;
    --span: #ff6100;
    --title:#0a224c;
    --menu-hover:#0075e3;
    --contactbackgrounccolor: #0a9396
}

* {
    margin: 0;
    padding: 0;
}
h1, h2,h3{
    font-weight: bold;
    color: var(--title);
}

body{
    color: var(--font-color);
}
header {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 254, 254);
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
}


.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    transition: 0.5s;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--menu-hover);
}

#hero {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    padding: 100px 100px;
}

.droite img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#hero .gauche,
#valeur .gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.gauche h1 {
    margin-bottom: 50px;
}

.commencer {
    width: 50%;
    margin-top: 20px;
}

#confiances {
    background-color: rgba(211, 211, 211, 0.422);
    padding: 50px;
}

#confiances h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    justify-content: center;
    margin:0 auto;
    flex-wrap: wrap;
}

.logos img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
}

#valeur {
    padding: 150px 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    background-color: rgb(36, 35, 35);
    color: white;
}


.gauche,
.droite {
    width: 100%;
}

/* the author avatar from google font website*/

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#bénéfices {
    padding: 150px 100px;
    width: 100%; 
    display: flex;
    gap: 50px;
    flex-direction: row;
}

#bénéfices img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#bénéfices .droite{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


#contenu_edutorial {
    padding: 0px 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
}

#contenu_edutorial .gauche{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#articles{
    
    padding: 0px 100px;
    margin:50px 0px;

}

#top{
    height: 400px;
    background-color: beige;
    display: flex;
    flex-direction: row;
}
.top-image{
    min-height:100px;
    width: 40%;
}
.top-image img{
    height: 100%;
    width: 100%;
}

.top-gauche{
    height: 100%;
    background-color: rgb(36, 35, 35);
    color: white;
    width: 60%;
    padding: 30px 50px;
}
.top-gauche small, .top-gauche h3,.top-gauche p, .top-gauche a{
    margin: 40px;
    color: white;
    
}

#cards{
    display: flex;
    flex-direction: row ;
    gap: 20px;
    margin: 30px 0px;
}
.card{
    padding: 40px 80px;
}
.card a{
    color: black;
}

#témoignage{
    
    padding: 0px 100px;
    margin:50px 0px;
    text-align: center;

}
#témoignage img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid rgba(0, 0, 0, 0.514);
    padding: 5px;
}
#témoignage p{
    font-size: 1.5rem;
}
#call_to_action{
    background-color: lightgray;
    padding: 80px 0px;
}
#action_final{
    width: 30%;
    margin: 0px auto;
    text-align: center;
}
#action_final h2{
    margin-bottom: 30px;
    font-weight: bold;
}


footer{
    display:flex;
    flex-direction:row;
    padding: 80px 100px;
    gap: 30px;

}

.middle{
    width: 50%;
    border-right: 1px solid black;
}

.links{
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
}

.links ul{
    list-style-type: none;
}
.links ul li a {
    display: block;
    text-decoration: none;
    color:black;
}

.links ul li a:hover{
    text-decoration: underline;
}

.produits, .entreprise{
    width: 100%;
}
.title{
    margin-bottom: 10px;
}

.bottom-right small{
    display: block;
}

.page_info{
    display: flex;
    flex-direction: row;
    padding: 20px 60px;
    background-color: var(--contactbackgrounccolor);
    align-items: center;
    color: white;
    height: auto;
}
.call_center {
    width: 100%;
    /* height: auto; */
}
.info{
    width: 100%;
    font-size: 1.5rem;

}
.info h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.contact_form, .map{
    width: 100%;
}



.form-map{
    display: flex;
    flex-direction: row;
    padding: 20px 60px;
    justify-content: space-between; 
    gap: 40px;
    margin: 50px 0;
}

input, textarea{
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
}
.map h1{
    margin-bottom: 50px;
    text-align: center;
}