:root{
    --font-color: #0a1551;
    --span: #ff6100;
    --title:#0a224c;
    --menu-hover:#247e69;
    --main-color: #235146;
    --second-color: #FAF7EE;
}

* {
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--second-color);
}
header {
    display: flex;
    flex-direction: row;
    background-color: var(--second-color);
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
}


.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    transition: 0.5s;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--menu-hover);
}

#hero {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    padding: 100px 100px;
    background-color: var(--second-color);
}


.droite img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#hero .gauche,
#valeur .gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.gauche h1 {
    margin-bottom: 50px;
    font-weight: bold;

}

.commencer {
    width: 50%;
    margin-top: 20px;
}

#confiances {
    background-color: var(--second-color);
    padding: 50px;
}

#confiances h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-color);
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    justify-content: center;
    margin:0 auto;
    flex-wrap: wrap;
}

.logos img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
}

#valeur {
    padding: 150px 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    background-color: var(--main-color);
    color: white;
}


.gauche,
.droite {
    width: 100%;
}

/* the author avatar from google font website*/

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#bénéfices {
    padding: 150px 100px;
    width: 100%; 
    display: flex;
    gap: 50px;
    flex-direction: row;
    background-color: var(--second-color);
}

#bénéfices img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#bénéfices .droite{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


#contenu_edutorial {
    padding: 0px 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    background-color: var(--second-color);
}

#contenu_edutorial .gauche{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#articles{
    
    padding: 50px 100px;
    background-color: var(--main-color);

}

#top{
    height: 400px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: row;
}
.top-image{
    min-height:100px;
    width: 40%;
}
.top-image img{
    height: 100%;
    width: 100%;
}

.top-gauche{
    height: 100%;
    background-color: var(--main-color);
    color: white;
    width: 60%;
    padding: 30px 50px;
}
.top-gauche small, .top-gauche h3,.top-gauche p, .top-gauche a{
    margin: 40px;
    color: white;
    
}

#cards{
    display: flex;
    flex-direction: row ;
    gap: 20px;
    margin: 30px 0px;
}
.card{
    padding: 40px 80px;
}
.card a{
    color: var(--main-color);
}

#témoignage{
    
    padding: 50px 100px;
    text-align: center;
    background-color: var(--second-color);

}
#témoignage img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid rgba(0, 0, 0, 0.514);
    padding: 5px;
}
#témoignage p{
    font-size: 1.5rem;
}
#call_to_action{
    background-color: var(--second-color);
    padding: 80px 0px;
}
#action_final{
    width: 30%;
    margin: 0px auto;
    text-align: center;
}
#action_final h2{
    margin-bottom: 30px;
    font-weight: bold;
}
.footer1{
    background-color: var(--second-color);
    color: var(--main-color);
}
/* footer 2 for copy right */
footer{
    display:flex;
    flex-direction:row;
    padding: 80px 100px;
    gap: 30px;

}

.business_info{
    width: 100%;
}

.links{
    display: flex;
    flex-direction: row;
}

.links ul{
    list-style-type: none;
}
.links ul li a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

.links ul li a:hover{
    text-decoration: underline;
}

.produits, .entreprise{
    width: 100%;
}
.title{
    margin-bottom: 10px;
    font-size: 2rem;
}
.middle{
    width: 100%;
}
.middle small{
    display: block;
}

.phone_mail{
    padding-left: 30px;
}

.phone_mail a{
    text-decoration: none;
    
}
.phone_mail a:hover{
    text-decoration: underline;
    
}

/* FEATURES STYLE */

.description{
    width: 100%;
}
.description h1{
    margin-bottom: 40px;
}
.info_img, .info_img img{
    width: 100%;
}

.features1, .features2, .features3{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 80px 50px ;
    background-color: var(--second-color);
}

.card_left, .card_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.card_left h1, .card_right h1{
    margin-bottom: 40px;
}
.card_right img, .card_left img{
    width: 100%;
    height: auto;
}

/* CONTACT STYLE */

.page_info{
    display: flex;
    flex-direction: row;
    padding: 20px 60px;
    background-color: var(--main-color);
    align-items: center;
    color: white;
    height: auto;
}
.call_center {
    width: 100%;
    /* height: auto; */
}
.info{
    width: 100%;
    font-size: 1.5rem;

}
.info h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.contact_form, .map{
    width: 100%;
}



.form-map{
    display: flex;
    flex-direction: row;
    padding: 50px 60px;
    justify-content: space-between; 
    gap: 40px;
    background-color: var(--second-color);
}

input, textarea{
    width: 100%;
    outline: none;
    border: 1px solid var(--main-color);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--second-color);
}
.map h1{
    margin-bottom: 50px;
    text-align: center;
}
.copyright{
    background-color:var(--menu-hover);
    color: white;
    padding: 30px ;
    font-weight: bold;
}

.horaire{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.jours ul, .heures ul {
    list-style-type: none;
}

.jours ul li:nth-child(1), .heures ul li:nth-child(1){
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

